.veframe #veplatform-iframe {
  width: 100%;
}

@media screen and (min-width: 320px) and (max-width: 760px) {
  .veframe #veplatform-iframe {
    height: 2500px;
  }
}

@media screen and (min-width: 760px) and (max-width: 880px) {
  .veframe #veplatform-iframe {
    height: 2050px;
  }
}

@media screen and (min-width: 880px) and (max-width: 1150px) {
  .veframe #veplatform-iframe {
    height: 1930px;
  }
}

@media screen and (min-width: 1150px) {
  .veframe #veplatform-iframe {
    height: 1350px;
  }
}
